@charset "UTF-8";

body{
	overflow-x: hidden; 
}

#news header{
	
	margin-bottom: 30px;
}

#search{
	width: 100%;
	height: 38px;
    text-align: center;
    border-image:linear-gradient(#EF2C53, #18DE3C) 1;
    background-color:#D5D5D5;
    color: #404140;
	text-shadow: 0 0 3px #18DE3C;
	font-size: 20px;
}

#search-left{
	height: 24px;
}

.hiddenStart{
   	position: relative;
    right: 45px;
    width: 30px;	
}


#nav{
 	background-color: rgba(255,051,051,0.8);
 	max-height: 100%;
 	overflow-y:auto;
 	overflow-x:hidden;
}

#nav::-webkit-scrollbar{
	width:15px;
}

#nav::-webkit-scrollbar-thumb{
	
	background-color: black;
}
#nav::-webkit-scrollbar-track{
	background-color: #61210B;
}
#logo{
	width: 165px;
	
}

#loBtn:hover{
	cursor: pointer;
	color:white;
}

#top10{
	border-radius: 15px;
	background-color: rgba(0,0,0,0.7);
	color:white;
	text-shadow: 0 0 2px black;
}
#top10_list{
	color:#EF4D59;
	font-weight: bold;
}

#top10 p {
	font-size: 20px;
	color:#EF4D59;
}

#top10_select:hover{
	/* cursor: pointer; */
}

#movie_top{
	font-size:25px;
	color:white;	
}

#movie_title{
	color:white;
}

#ten1{
	text-shadow: 0 0 2px #F60A0E;
}
.tops:hover{
	cursor: pointer;
	text-decoration: underline;
}

#ten2{
	text-shadow: 0 0 2px #F45C0C;
}

#ten3{
	text-shadow: 0 0 2px #F0E304;
}

#ten4{
	text-shadow: 0 0 2px #1C792A;
}

#ten5{
	text-shadow: 0 0 2px #0112F8;
}

#ten6{
	text-shadow: 0 0 2px #071687;
}

#ten7{
	text-shadow: 0 0 2px #834DF1;
}


#news p{
	font-size:20px;
}

#cap{
	text-shadow: 0 0 2px red;
	text-align: center;
	color: white;
	font-size: 20px;
}

#music_tb th{
	color : #f47e7e;
}

#music_tb span{
	color: white;
    font-weight: bold;
    font-size: 16px;
	text-shadow: 0 0 2px #F7819F;
}

#music_tb span:hover{
	cursor: pointer;
}

#tb_delete:hover{
	color: black;
}

#news span{
	color: white;
	text-shadow: 0 0 2px black;
	text-align: center;
}

#news div:hover{
	cursor: pointer;
}


#recommend span{
	text-align: center;
	color: white;
	text-shadow: 0 0 2px black;
}
#albumD{
	position:relative;
	top:8px;
	width:100px;
	height: auto;
}

#album{
	position:relative;
	top:8px;
	width:100px;
	height: auto;
}

#sideA{
	font-size: 20px;
	color: white;
    text-shadow: 0 0 2px yellow;
}

#sideA:hover{
	color:black;
}

.sidenav{
 	color:#10D73F;
  	background-color: black;
    position: fixed;
    width: 300px;
    height: 100%;
    margin-left: -20px;
}

.page{
	background-image: url('../images/bg.gif');
	background-position-y:0px;
	width: 90%;
	height: auto;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
 	margin-left:264px;
 	padding-bottom: 144px;
}

#show_list{
	border-radius: 60px 60px 0 0 ;
	background-color: rgba(000,102,051,0.8);
}

#removeAll{
	color: #BE81F7;
}
#removeAll:hover{
	cursor: pointer;
	text-shadow: 0 0 3px black;
}

#prevBtn{
	background-color: transparent;
	border: 0;
	outline: 0;
}
#nav-select{
	color:white;
	text-shadow: 0px 0px 3px #81F79F;
	
	font-size: 20px;
}

#play-button{
	background-color: transparent;
	border: 0;
	outline: 0;
}

#nextBtn{
	background-color: transparent;
	border: 0;
	outline: 0;
}
.carousel-control {
  padding-top:10%;
  width:5%;
}

#speaker{
	 border: none; 
	 background: none;
}
#sound{
	position: relative;
    top: -11px;
    left: 6px;
}

#m_list{
	position: relative;
    top: 10px;
    left: 20px;
}

#player-top{
	position: relative;
    bottom: 800px;
    border-radius: 10px;
    width: 451px;
    height: 350px;
}

#start-time{
    color: #64FE2E;
    text-shadow: 0 0 3px #D8F781;
}

/*  플레이바게이지   */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #d5d4d3;
    cursor: pointer;
    border-radius: 0; /* iOS */
    transition: background 450ms ease-in;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid black;
    border-radius:50%;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    width:10px;
    height:10px;
    background: url('../lib/images/range.png');
    border: 1px solid dodgerblue;
    border-radius:50%;
    cursor: pointer;
}

 /* 알람창 */
#alert {
	display:none;
    position: fixed;
    bottom: 150px;
    left: 41%;
    padding: 20px;
    background-color: #2196F3;
    color: white;
}

.closebtn {
	  margin-left: 15px;
	  color: white;
	  font-weight: bold;
	  float: right;
	  font-size: 22px;
	  line-height: 20px;
	  cursor: pointer;
	  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

 /* footer */

footer{
	color:white;
	text-shadow: 0 0 2px black;
	background-color: gray;	
	
}

