@charset "UTF-8";

/* @font-face{
	font-family: 'nanum';
	src: url('../main_lib/fonts/NanumBarunGothic.ttf') format('ttf');
}

body{
	font-family: nanum;
}
 */
 
@font-face{
	font-family: NanumBarunGothic;
	src: url(NanumBarunGothic.ttf) format('ttf');
}

body{
	font-family: 'NanumBarunGothic';
}

a{
	color: white;
}

img#logo{
	width: 100%;
	height: 50px;
}

#searchBar{
	width: 100%;
	height: 45px;
	
	border: 2px solid #5858fa;
    
    font-size: 30px;
    text-align: center;
    
    outline: none;
}

#header_top {margin: 75px 0;}

#header_bot{
	font-size: 15px;
	font-weight: bold;
	margin-top: -17px;
    margin-bottom: -18px;
}

#loginDiv{
	background-color: #f7f9fa; 
	border:1px solid #dae1e6;
	padding: 16px 16px 12px 17px;
	margin: 10px 0;
}

#hr{
	background-color: black;
	height: 1px;
	border: 0;
	
	position: relative;
	bottom: 20px;
}
#logintop{
	color: grey;
    font-size: 13px;
}


#loginBtn{
	background-color: #5882FA;
	color:white;
    width: 207px;
    height: 43px;
    border: none;
}

#index_myPage{
	cursor: pointer;
}

/* main.jsp */
#mainContent #main_s {float: right;}
#mainContent #main_s #loginDiv button {width: 100%;}
#logout{
	
	
}
/* shop */
#mainContent #main_shop_frm{
	border-left: 2px solid #eee;
}
#mainContent #main_shop_frm #shop{
	margin-left: 2%;
	margin-top: 8%;
}
#mainContent #main_shop_frm #shop #main_shop_title{
	margin-left: -8%;
}
#mainContent #main_shop_frm #shop h3{
	font-weight: bold;
	margin: 0;
	margin-top: -40%;
	border-bottom: 3px solid red;
	float: left;
}
#mainContent #main_shop_frm #shop small{
	width: 0px;
}
#mainContent #main_shop_frm #shop #shop_earringList{
	margin-top: 5%;
}
#mainContent #main_shop_frm #shop #shop_necklaceList{
	margin-top: 5%;
}
#mainContent #main_shop_frm #shop #shop_ringList{
	margin-top: 5%;
}
#mainContent #main_shop_frm #shop #shop_braceletList{
	margin-top: 5%;
	margin-bottom: 5%;
}
#mainContent #main_shop_frm #shop .page-header{
	padding-bottom: 0%;
	margin: 0;
	margin-top: 7%;
}
#mainContent #main_shop_frm #shop .page-header h4{
	margin-left: 2%;
	font-weight: 600;
	margin: 0;
	margin-bottom: 2%;
}
#mainContent #main_shop_frm #shop .page-header .btn_more{
	border-style: none;
	background-image: none;
	box-shadow: none;
	color: gray;
	font-weight: 600;
	background-color: white;
	font-size: 115%;
	height: 30px;
	min-width: 20%;
}
#mainContent #main_shop_frm #shop #shop_earringList #shop_earring_img{
	width: 110%;
	margin-top: 5%;
	height: 115px;
}
#mainContent #main_shop_frm #shop #shop_earringList #shop_earring_information{
	text-align: center;
	font-size: 150%;
	margin-top: 7%;
}
#mainContent #main_shop_frm #shop #shop_earringList .earring_name{
	font-weight: 600;
}
#mainContent #main_shop_frm #shop #shop_necklaceList #shop_necklace_img{
	width: 110%;
	margin-top: 5%;
	height: 115px;
}
#mainContent #main_shop_frm #shop #shop_necklaceList #shop_necklace_information{
	font-size: 150%;
	text-align: center;
	margin-top: 7%;
}
#mainContent #main_shop_frm #shop #shop_necklaceList .necklace_name{
	font-weight: 600;
}
#mainContent #main_shop_frm #shop #shop_ringList #shop_ring_img{
	width: 110%;
	margin-top: 5%;
	height: 115px;
}
#mainContent #main_shop_frm #shop #shop_ringList #shop_ring_information{
	text-align: center;
	font-size: 150%;
	margin-top: 7%;
}
#mainContent #main_shop_frm #shop #shop_ringList .ring_name{
	font-weight: 600;
}
#mainContent #main_shop_frm #shop #shop_braceletList #shop_bracelet_img{
	width: 110%;
	margin-top: 5%;
	height: 115px;
}
#mainContent #main_shop_frm #shop #shop_braceletList #shop_bracelet_information{
	font-size: 150%;
	text-align: center;
	margin-top: 7%;
}
#mainContent #main_shop_frm #shop #shop_braceletList .bracelet_name{
	font-weight: 600;
}

#mainContent .col-xs-12 {margin: 10px 0;}
#mainContent #promotion img {width: 100%;}
#mainContent .col-xs-12.blog {border-top: 2px solid #eee; border-bottom: 2px solid #eee;}
#mainContent .col-xs-12.blog h3 {margin-top: 30px; font-weight: bold;}
#mainContent .list img {width: 100%; height: 120px;}
#mainContent .list .listItem {margin: 15px 0;}
#mainContent .list .listItem:hover {cursor: pointer;}
#mainContent .list .listItem .subject{font-size: 17px; font-weight: bolder; margin-top: 10px; margin-bottom: 5px;}
#mainContent .list .listItem .subject:hover{text-decoration-line: underline;}
#mainContent .list .content {overflow: hidden; text-overflow: ellipsis; line-height: 1.5; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
#mainContent .list .listItem .content.blog{margin-bottom: 10px;}
#mainContent .list .content p {line-height: 20px;}
#mainContent .list .date {color: #909090; font-size: 12px;}
@media (max-width: 991px){
	#mainContent #main_shop_frm{
		border-left: none;
		border-top: 2px solid #eee;
		border-bottom: 2px solid #eee;
	}
	#mainContent #main_shop_frm #shop #main_shop_title{
		margin-left: -4%;
	}
	#mainContent #main_shop_frm #shop #shop_earringList{
		width: 50%;
	}
	#mainContent #main_shop_frm #shop .page-header{
	    margin-top: 1%;
	}
	#mainContent #main_shop_frm #shop #shop_earringList #shop_earring_information{
		font-size: 120%;
	}
	#mainContent #main_shop_frm #shop #shop_necklaceList{
		width: 50%;
		margin-left: 55%;
		margin-top: -35%;
	}
	#mainContent #main_shop_frm #shop .page-header .btn_more{
		min-width: 10%;
	}
	#mainContent #main_shop_frm #shop #shop_necklaceList #shop_necklace_information{
		font-size: 120%;
	}
	#mainContent #main_shop_frm #shop #shop_ringList{
		width: 50%;
		margin-top: 3%;
	}
	#mainContent #main_shop_frm #shop #shop_ringList #shop_ring_information{
		font-size: 130%;
	}
	#mainContent #main_shop_frm #shop #shop_braceletList{
		width: 50%;
		margin-left: 55%;
		margin-top: -36%;
	}
	#mainContent #main_shop_frm #shop #shop_braceletList #shop_bracelet_information{
		font-size: 130%;
	}
}
@media (max-width: 989px) {
	#mainContent #main_s {float: none;}
}

.indexNews_s h5{ overflow: hidden; white-space: normal; line-height: 20px; height: 60px; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.indexNews_s a:hover{color:black;}
.indexNewsT{font-weight: bold;}

#loginDiv button{
	color: black;
}

.page-header .btn{
	background: white;
}
.page-header .btn::before{
	background: white;
}

.d-flex{
	display: flex!important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd; color:black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}