@charset "UTF-8";

@font-face{
	font-family: 'nanum';
	src: url('../main_lib/fonts/NanumBarunGothic.ttf') format('ttf');
}

body{
	font-family: nanum;
}

img#logo{
	width: 155px;
	height: 50px;
}
a{
	color: white;
}

#searchBar{
	width: 800px;
	height: 45px;
	
	border-color: #5858FA;
    border-radius: 32px;
    border-width: medium;
    
    font-size: 30px;
    text-align: center;
    
    outline: none;
}

#header_top{
	position: relative;
	top: 20px;
}

#header_bot{
	font-size: 17px;
}

#loginDiv{
	background-color: #f7f9fa; 
	border:1px solid #dae1e6;
	padding: 16px 16px 12px 17px;
	margin-left: 20px;
}

#hr{
	background-color: black;
	height: 1px;
	border: 0;
	
	position: relative;
	bottom: 20px;
}
#logintop{
	    color: grey;
    font-size: 13px;
}


#loginBtn{
	background-color: #5882FA;
	color:white;
    width: 207px;
    height: 43px;
    border: none;
}

#logout{
	
	
}



























