@charset "UTF-8";


#news_s #hlog a{
	float: right;
	margin-right: 5px;
}

.logo_s{
	float: left;
}

#news_s .head_s a{
	float: left;
	margin-left: 8px;
}

.blue_window {
	display: inline-block;
	width: 200px; height: 34px;
	border: 1px solid #8000ff;
	background: white;
}
.input_text {
	width: 190px; height: 21px;
	margin: 6px 0 0 9px;
	border: 0;
	font-size: 16px;
	outline: none;
}

#nMainSearch_s{
	margin-top: 5px;
	float: right;
}

#nMainSearch_s .form-control mr-sm-2{
	width:150px;
}

#nMainSearch_s .btn btn-outline-success my-2 my-sm-0{
	width:30px;
}

.card{
	margin-left: 10px;
	width: 300px;	
}

.card img{
	width:100%;
}



