@charset "UTF-8";


		#w_BrandName  {
		  position: relative;
		  left: 150px;
		  margin-left: 2px;
		  padding-left: 3px;
		   
		  
		}

		#main ul{
 		font-family: "Noto Sans KR", sans-serif;
    	font-size: 0;
 		}
 
	    #main  ul  li {
	    position: relative;
	    width: 260px;
	    height: 260px;
	    background: #e6dcd1;
	    box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    padding: 60px 15px 0;
	    word-break: keep-all;
	    letter-spacing: -1.2px;
	    font-size: 16px;
	    display: inline-block;
	    margin: 0 20px 0 0;
	    vertical-align: top;
		}
		
		#main ul li:nth-child(2n) {
   		 background: #f5dfc6;
		}
		
		
		#main ul li img {
	    position: absolute;
	    top: -60px;
	    left: 50%;
	    transform: translateX(-50%);
		}
		
		#main ul li .w_t1 {
	    font-size: 38px;
    	font-weight: 700;
    	margin: 0 0 7px;
		}
		
		#main ul li .w_t2 {
	    font-size: 30px;
		font-weight: 300;
		margin: 0 0 18px;
		}
		
		#main ul li .w_t3{
	    font-size: 16px;
    	font-weight: 300;
    	line-height: 24px;
		}
		
		
		#main .w_h3{
		position:relative;
		left:500px;
		font-size: 24px;
   	 	font-weight: 700;
    	margin: 0 0 100px;
		}
		
		#main .w_h3:after{
		width: 30px;
	    height: 2px;
	    background: #282828;
	    content: '';
	    display: block;
	    margin: 20px;
	    position:relative;
		left:146px;
		}

		#main .w_menu_info{
		font-size: 22px;
	    font-weight: 700;
	    color: #282828;
	    text-align: center;
	    padding: 90px 0 40px;
	    position: relative;
	    left: 208px;
		}
		
		#main .w_menu_info .w_deco{
		width: 103px;
	    height: 5px;
	    vertical-align: middle;
	    display: inline-block;
	    background-size: 103px 5px;
	    margin: 0 20px;
		}
		
		#main ul.w_tabs{
		text-align: center;
	    width: 100%;
	    font-size: 0;
	    margin: 0 0 45px;
		}
		
		#main ul.w_tabs li.w_active {
	    border: 0;
	    background: #282828;
		}
		
		#main ul.w_tabs li.w_active:before {
	    content: '';
	    position: absolute;
	    width: 9px;
	    height: 9px;
	    left: 50%;
	    bottom: -4px;
	    transform: translateX(-50%);
	    transform: rotate(45deg);
	    background: #282828;
	    }
		
		#main ul.w_tabs li{
		display: inline-block;
	    cursor: pointer;
	    position: relative;
	    width: 140px;
	    height: 44px;
	    line-height: 44px;
	    border: 1px solid #d7d7d7;
	    color: #282828;
	    font-size: 16px;
	    box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    margin: 0 5px;
	    vertical-align: top;
		}
		
		#main .w_tab_container .w_tab_content ul li {
	    text-align: center;
	    width: 30.8%;
	    font-size: 16px;
	    float: left;
	    margin: 0 3.6% 0 0;
	    }
	    
		#main .w_tab_container .w_tab_content ul li .w_menu_img {
	    margin: 0 0 25px;
	    width: 100%;
	    height: auto;
	    }
	    
	    #main .w_tab_container .w_tab_content ul li .w_h3  {
	    font-size: 28px;
	    font-weight: 700;
	    word-break: keep-all;
	    }
	    
	    #main .w_tab_container .w_tab_content ul li .w_h3:after  {
	    background: #282828;
	    width: 26px;
	    height: 2px;
	    content: '';
	    display: block;
	    margin: 15px auto;
	    }
	    
	    #main .w_tab_container .w_tab_content ul li .w_best  {
	    vertical-align: middle;
    	margin: 0 0 0 10px;
	    }
	    
	    #main .w_tab_container .w_tab_content ul li p  {
	    margin: 0 0 45px;
    	line-height: 20px;
	    }
