@charset "UTF-8";

/* blog_top */
 #c_top {margin: 20px 70px 0 70px;}
 #c_login {float: right; font-weight: bold; border: none;}

/* blog_content */
#c_mainBlog #c_mainHeader img {height: 400px;}
#c_mainBlog #c_subject {margin-top: 50px;}
#c_mainBlog .c_subject {text-decoration: none; color: black; font-size: 2em; font-weight: bold; margin-right: 40px;}
#c_mainBlog .c_subject:hover {text-decoration: none; box-shadow: 0 -10px rgba(75, 112, 253, 0.3) inset;}
#c_mainBlog #c_bestContent {background-color: #f5f5f5; margin-top: 20px;}
#c_mainBlog #c_bestContent .thumbnail:hover {box-shadow: 0 3px 15px rgba(0,0,0,0.3);}
#c_mainBlog #c_bestContent img {width: 100%; height: 200px;}
#c_mainBlog #c_bestContent .c_bestSubject {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:300px; font-size: 2em;}
#c_mainBlog #c_bestContent .c_bestMid {color: gray;}
#c_mainBlog #c_blogList {margin-top: 50px;}
#c_mainBlog #c_blogList a {color: black; text-decoration: none;}
#c_mainBlog #c_blogList .c_listBrdImg {display: block; float: right; width: 128px; height: 128px; margin-left: 46px;}
#c_mainBlog #c_blogList .c_listBrdImg img {width: 100%; height: 100%;}
#c_mainBlog #c_blogList .c_listData {float: left; width: 159px; padding-top: 5px;}
#c_mainBlog #c_blogList .c_listSubject {padding: 2px 0 6px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:500px; font-size: 2em;}
#c_mainBlog #c_blogList .c_listInnerCont {overflow: hidden; text-overflow: ellipsis; width: 800px; line-height: 1.5; height: 3em; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
#c_mainBlog #c_blogList .c_listUserImg {float: left; width: 30px; height: 30px;}
#c_mainBlog #c_blogList .c_listUserImg img {width: 100%; height: 100%;}
#c_mainBlog #c_blogList .c_listInfo {display:inline-block; position: relative; bottom: -15px; left: 157px;}
#c_mainBlog #c_blogList .c_listCate {margin-bottom: 10px;}
@media (max-width: 1199px) {
	#c_mainBlog #c_bestContent .c_bestSubject {width: 250px; font-size: 1.7em;}
	#c_mainBlog #c_blogList .c_listData {width: 120px;}
	#c_mainBlog #c_blogList .c_listInnerCont {width: 640px;}
	#c_mainBlog #c_blogList .c_listInfo {left: 120px;}
}
@media (max-width: 991px) {
	#c_mainBlog #c_bestContent .c_bestSubject {width: 200px; font-size: 1.5em;}
	#c_mainBlog #c_blogList .c_listSubject {width: 59%;}
	#c_mainBlog #c_blogList .c_listInnerCont {width: 59%;}
}
@media (max-width: 767px) {
	#c_mainBlog #c_bestContent .thumbnail {width: 75%; margin-left: 90px;}
	#c_mainBlog #c_bestContent img {height: 230px;}
	#c_mainBlog #c_blogList .c_listData {display: none;}
	#c_mainBlog #c_blogList .c_listSubject {font-size: 1.7em;}
	#c_mainBlog #c_blogList .c_listInfo {left: -2px;}
}
@media (max-width: 626px) {
	#c_mainBlog #c_blogList .c_listSubject {width: 60%;}
	#c_mainBlog #c_blogList .c_listInnerCont {width: 60%;}

}
/* @media (max-width: 1924px) {
	#c_best_content #c_subject {margin-left: 92px;}
	#c_best_content .thumbnail {width: 85%; margin: 30px 0 30px 0; float: left;} 
	#c_best_content #c_content1 {margin-left: 90px;}
	#c_best_content #c_content2 {margin-left: 26px;}
	#c_best_content #c_content3 {margin-left: -40px;}
}  */
/* @media (max-width: 1199px) {
	#c_best_content .thumbnail {width: 100%; margin: 30px 0 30px 0; float: left;}
	#c_best_content #c_content1 {margin-left: 10px;}
	#c_best_content #c_content2 {margin-left: 0px;}
	#c_best_content #c_content3 {margin-left: -10px;}
} */